<footer class="site-footer">
    <div style="text-align: center;">

      <img height="auto" width="300" src="{{ site.baseurl }}/assets/Artboard.png">
      <h2 class="footer-heading">{{ site.title }}</h2>

      <ul class="contact-list">
        <li><a class="plain" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
      </ul>

    </div>
</footer>
