<div class="portfolio-work wrapper">

  <ul class="post-list">
    <div class="centre-contents">
      <h2 class="section-title" id="Portfolio">Portfolio Work</h2>
    </div>

    {% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}">
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2 class="post-link">
          {{ post.title }}
        </h2>
        <span class="post-meta">Company : {{ post.company }}</span>
        <br>
        <span class="post-meta">{{ post.categories }}</span>
      </li>
    </a>
    {% endfor %}

    <li class="flex-padder"></li>
    <li class="flex-padder"></li>
    <li class="flex-padder"></li>
    
    <div class="centre-contents">
      <h2 class="section-title" id="Writing">Thoughts on Product Development</h2>
    </div>

    <a href="https://medium.com/@aguycalledconor/the-most-effective-1-in-product-development-d66878d9d2c5#.d69i3ga9g">
      <li>
        <span class="post-meta">Medium Blog Post</span>
        <h2 class="post-link">
          The Most Effective 1% Of My Work
        </h2>
      </li>
    </a>

    <a href="https://medium.com/swlh/https-medium-com-aguycalledconor-great-design-probably-isnt-for-you-f1ccad66d69f#.uhscwkpny">
      <li>
        <span class="post-meta">Medium Blog Post</span>
        <h2 class="post-link">
          Great design probably isn't for you
        </h2>
      </li>
    </a>
    
  </ul>
</div>
