/**
 * Site header
 */
.site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $grey-color-light;
    border-bottom: 1px solid $grey-color;
    min-height: 56px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #dd686b;;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $body-text;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $theme-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $body-text;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.centre-contents {
  width: 100%;
  text-align: center;
}

.portfolio-work {
  margin-top: 40px;
}


/**
 * Site footer
 */
.site-footer {
    padding: 20px 0px;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    color: $base-dark-color;

}

.footer-heading {
    font-size: 16px;
    margin-bottom: $spacing-unit / 2;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $base-dark-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.hero-section-header {
    margin-top: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post {
  padding-top: 84px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;

    > li {
        width: 280px; 
        height: 180px; 
        margin: 0 1% 24px;
        padding: 20px 40px;
        background: $grey-color;
        box-shadow: 0 10px 20px rgba($accent-color,0.19), 0 6px 6px rgba($accent-color,0.23);
        border: none;
        border-radius: 3px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover {
            box-shadow: 0 14px 28px rgba($accent-color ,0.2), 0 10px 10px rgba($accent-color ,0.3);
        }
        .post-meta {
            color: $grey-color-med;
        }
    }

    .section-title {
        margin-bottom: 40px;
    }
}

li.flex-padder {
    height: 0;
    padding: 0;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    text-decoration: none;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: $styled-font-family;
    color: $base-dark-color;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 42px;
    }
}

h2, h3, h4 {
    color: $base-dark-color;
}

.post-content {
    margin-bottom: $spacing-unit;
    max-width: 600px;

    font-size: 18px;

    @include media-query($on-laptop) {
        font-size: 22px;
        max-width: 800px;
    }

    h2 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 32px;
        }
    }

    h3 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }
}
.index-left-column {
  width: 100%;
  @include min-media-query($on-laptop) {
      width: 80%;
  }
}

.index-right-column {
  width: 100%;
  span, button {
    width: 50%;
    padding: 10%;
  }

  @include min-media-query($on-laptop) {
      width: 20%;
    span, button {
      width: 100%;
    }
  }
}
